@import "../../../styles/vars";

.partnerBlock {

  background-color: $green;
  padding: 105px 0 177px 0;

  .title {
    @include font-Lato700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 73px;
  }

  .partners {
    display: flex;
    flex-flow: wrap;

    .partner {
      border: 3px solid $blue;
      padding: 75px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 28px;
      margin-bottom: 28px;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: $mobileWidth) {
    padding: 64px 0;

    .partners {
      .partner {
        margin-right: 0;
      }
    }
  }
}
